section.home-section-3 {
  background: #004e66;
  color: #fff;
  padding: 10px;
  clear: both;
}

section.home-section-3 .ecommerce-icons {
  overflow:hidden;
}

section.home-section-3 .ecommerce-icon {
  width: 25%;
  float: left;
  text-align: center;
}

section.home-section-3 .ecommerce-icon img {
  height: 64px;
}

section.home-section-3 .ecommerce-icon span {
  display: block;
}

footer {
  background: #e1eef6;
  border-bottom: 20px solid #ff5f2e;
  overflow: hidden;
  padding: 20px;
}

footer section {
  width: 33.33%;
  float: left;
}

footer section ul {
  list-style-type: none;
  padding: 0;
}

footer .footer__call span {
  font-size: 2em;
}

@media only screen and (max-width: 992px) {
  footer section {
    width: 100%;
    float: none;
  }

  footer section:nth-child(n+2) {
    margin-top: 20px;
  }

  footer {
    text-align: center;
  }
}