#destination {
  position: relative;
}

.big-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  cursor: pointer;
}

.big-picture .content {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.big-picture .content .exit {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}

.big-picture .content figure {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.big-picture .content figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.big-picture .content .desc {
  color: #fff;
  margin-top: 20px;
}