header {
  width: 100%;
}

header .header__logo {
  float: left;
}

header .header__logo img {
  margin-right: 20px;
  position: relative;
  top: 4px;
  transition: transform .6s;
}

header .header__logo a {
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 1000;
}

header .header__logo a:hover img {
  transform: rotate(360deg);
}

header .header__nav {
  float: right;
}

header .header__nav .header__nav--active {
  color: #ff5f2e;
}

header .header__nav > ul > li {
  display: inline-block;
  position: relative;
}

header .header__nav > ul > li > a {
  display: inline-block;
  padding: 26px 35px;
}

header .header__nav .header__sub-nav {
  position: absolute;
  background: #e1eef6;
  z-index: 10;
  list-style-type: none;
  padding: 10px 35px 10px 35px;
  margin-top: 3px;
  width: 100%;
  display: none;
}

header .header__nav > ul > li:hover .header__sub-nav {
  display: block;
}

header .header__nav .header__sub-nav .header__sub-nav--see-more {
  color: #ff5f2e;
  transition: color .3s;
}

header .header__nav .header__sub-nav .header__sub-nav--see-more:hover {
  color: #004e66;
}

@media only screen and (max-width: 992px) {
  header {
    text-align: center;
  }

  header .header__logo {
    float: none;
  }

  header .header__nav__burger--open,
  header .header__nav__burger--close {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
  }

  header .header__nav__burger--open {
    top: 5px;
    left: 0;
  }

  header .header__nav__burger--close {
    top: 5px;
    right: 40px;
  }

  header .header__nav__burger--icon {
    width: 32px;
    height: 32px;
    z-index: 10;
    margin: 20px;
  }

  header .header__nav {
    display: none;
    background: #e1eef6;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    float: none;
    text-align: left;
  }

  header .header__nav.header__nav--open {
    display: block;
  }

  .header__nav--open ul {
    padding: 0;
    list-style-type: none;
  }

  .header__nav--open ul li {
    margin: 10px;
  }

  .header__nav--open ul li ul {
    display: none;
  }

  header .header__nav > ul {
    padding: 20px 40px;
  }

  header .header__nav > ul > li {
    display: block;
  }

  header .header__nav > ul > li > a {
    padding: 5px 0;
  }

  header .header__nav .header__sub-nav {
    display: block;
    position: inherit;
  }

  header .header__nav .header__sub-nav li a{
    display: inline-block;
    padding: 5px 0;
  }

  header .header__nav .header__sub-nav li a{
    display: inline-block;
    padding: 5px 0;
  }
}